# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
env/
venv/
*.env

# Pyenv specific
.python-version

# JAX-related
jaxlib/
jax/

# OpenCV build
build/
dist/
*.egg-info/
*.egg

# Numpy-related
*.npz
*.npy

# macOS specific
.DS_Store

# Log files
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# System-specific files
*.bak
*.tmp

#Open3D
RenderOption_*.json